@model List<ADTeam5.Models.AdjustmentRecord>

@{
    ViewData["Title"] = "Index";
}


@*<h1>Adjustment Record</h1>*@

<a asp-action="Index">
    <button type="button" class="btn btn-primary" style="width:120px;height:32px;margin-left:36px; background-color:transparent;border:1px #B3B6B7 solid;">
       <font style='font-size:14px;color:#B3B6B7'>View Past Records</font>
    </button>
</a>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="TempAdjustmentRecords">
                <partial name="_TempAdjustmentRecords" model="Model" />
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>