
@model List<ADTeam5.ViewModels.TempVoucherDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Items to be added to voucher</h1>


<div class="container">
    <div class="row">
        <div class="col">
            <div id="TempVoucherDetailsList">
                <partial name="_TempVoucherDetailsList" model="Model" />
            </div>
        </div>
    </div>
</div>

<!-- Core -->
@*<script src="/assets/vendor/jquery/jquery.min.js"></script>*@
@*<script src="/assets/vendor/popper/popper.min.js"></script>*@
@*<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>*@
<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>




