@model List<ADTeam5.Models.PurchaseOrderRecord>

@{
    ViewData["Title"] = "Index";
}


@*<h1>Purchase Order Record</h1>*@

<div class="container">
    <div class="row">
        <div class="col">
            <div id="TempPurchaseOrderRecord">
                <partial name="_TempPurchaseOrderRecords" model="Model" />
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>