@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "~/Views/Shared/No_Sidebar_Layout.cshtml";
}


<style>
    body {
        background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), url(/img/homepage.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 2;
        max-width: inherit;
        padding: 50px;
    }

</style>
<div class="container">
   
        <h1>Register</h1>

        <div class="bg-text">
            <div class="row">
                <div class="col-md-6">

                    <h4>Create a new account.</h4>
                    <hr />
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
