@model ADTeam5.Models.CollectionPoint

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Alert1"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["Alert1"]
    </div>
}
@if (TempData["Alert2"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["Alert2"]
    </div>
}

<form asp-action="Index" method="post">
    @*<h1>Change Collection Point</h1>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Assign Department Representative</h3>
                </div>

                <br />

                <h4 style="margin-left:300px">&nbsp;&nbsp;Current Collection Point:&nbsp; @ViewData["Name"]</h4>

                <br />
                <div class="form-group" style="margin-left:300px">
                    <h4>
                        &nbsp;
                        Change Collection Point: &nbsp;
                        @Html.DropDownListFor(m => m.CollectionPointId, new SelectList(ViewBag.listofitems, "CollectionPointId", "CollectionPointName"), "Select")
                    </h4>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <input type="reset" value="Cancel" style="width:80px;height:30px;border:2px;margin-left:350px; background-color:#EEEEEE" />
                    <input type="Submit" value="Submit" class="btn btn-primary submit" style="background-color: #00B894;width:80px;height:30px;border:2px;margin-left:70px" />
                </div>
                <br />
                <br />
</form>
