@model ADTeam5.Models.CollectionPoint

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="post">
    <h1>Change Collection Point</h1>

    <div class="form-group">
        <p>Current Collection Point: </p>

    </div>
        <div class="form-group">
            <p>
                Change Collection Point:
                @Html.DropDownListFor(m => m.CollectionPointName, new SelectList(ViewBag.listofitems, "CollectionPointId", "CollectionPointName"), "Select")
            </p>
        </div>

        <div class="form-group">
            <input type="reset" value="Cancel" />
            <input type="Submit" value="Submit" />
        </div>
</form>
