
@{
    ViewData["Title"] = "Index";
}

@*<h1>Collection Password</h1>*@

<div class="row">
    <div class="col-lg-12">
        <div class="box" style=" width:100%">
            <div class="box-header with-border">
                <h3 class="box-title">Collection Password</h3>
                <br />
            </div>
            <br />

            <i class="fa fa-lock" style="font-size:48px;color:#00B894;margin-left:440px"></i>
            <br />
            <br />
            <div>
                <form asp-action="GeneratePassword" method="post" role="form" asp-controller="CollectionPassword">
                    <input type="submit" value="Generate Password" class="btn btn-primary submit" style="float:left; width:150px;height:32px;border:2px; background-color:#00B894; margin-left: 390px" />
                </form>
            </div>
            <br />
            <br />
            <div>
                <br />

                <div style="margin-left:163px;">
                    <b>-------------------------------------------------------------------------------------------------------------------------------------------</b>
                </div>
                <br />
                <p style="margin-left:163px"><b>Please <font color="#dc6460">key the following password</font> in <font color="#dc6460">store department's mobile phone/web</font> upon collection of stationery.</b></p>
                <div style="margin-left:163px;">
                    <b>-------------------------------------------------------------------------------------------------------------------------------------------</b>
                </div>
                <br />
                @if (ViewData["CollectionPassword"] != null)
                {
                    @*<input type="text" value="@ViewData["CollectionPassword"]" style="margin-left: 435px;font-size:23px;width:51px;height:30px" readonly />*@
                    <input type="text" value="@ViewData["CollectionPassword"]" style="border:1px dashed;margin-left: 442px;font-size:24px;font-style:initial;width:51px;height:30px;align-content:center " readonly />
                }
                <br />
                <br />
                <br />
            </div>



