@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ADTeam5.Models


<h3>Cart Page</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Option</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    @foreach (Item item in ViewBag.cart)
    {
        <tr>
            <td><a asp-controller="cart" asp-action="remove" @*asp-route-id="@item.Product.Id"*@>Remove</a></td>
            <td>@item.ItemName</td>
            <td>@item.Quantity</td>
        </tr>
    }
    <tr>
        <td align="right" colspan="6">Sum</td>
        <td>
            @*@ViewBag.total*@
        </td>
    </tr>
</table>
<br>
<a asp-controller="product" asp-action="index">Continue Shopping</a>
