@model IEnumerable<ADTeam5.Models.RecordDetails>

@{
    ViewData["Title"] = "Submitted Request";
}

@if (TempData["Submitted"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["Submitted"]
    </div>
}

<h4>Submitted Request</h4>

<p>Request No: @ViewData["RRID"]</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Item Number
            </th>
            <th>
                Item Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Add a New Request</a>
</div>

