@model ADTeam5.Models.RecordDetails

@{
    ViewData["Title"] = "NewRequest";
}

<h1>New Request</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Item Name</label>
                <select asp-for="ItemNumber" class="form-control" asp-items="ViewBag.ItemName"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Item" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table id="NewRecordDetails" class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    <tbody>
        @foreach (var item in ADTeam5.Controllers.Department.NewRequestController.list)
        {
            <tr>
                <td>
                    @item.Itemnum
                </td>
                <td>
                    @item.Qty
                </td>
            </tr>
        }
        </tbody>

</table>
