
@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), url(/img/homepage.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }





    /* Position text in the middle of the page/image */
    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 2;
        width: fit-content;
        line-height: 150%;
        padding: 50px;
        text-align: center;
    }
</style>




<body>
    <div class="bg-image">
        <div class="bg-text">
            <a href="/Identity/Account/Login">
                <h1> Welcome, @User.Identity.Name!</h1>             
            </a>
            <p> Need to figure out how to load login page from the start</p>
            
        </div>
       
    </div>
</body>

