@{
    ViewData["Title"] = "Home Page";
}


<link rel=" stylesheet" href="~/css/site.css"/>

<style>



    .bg-image {
        /* Source image*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/img/homepage_stationery.jpg");
        /* Add the blur effect */
        opacity: 0.4;
        /*-filter: blur(8px);
        -webkit-filter: blur(8px);*/
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        /*background-image: url("/img/homepage_stationery.jpg");*/
        background-repeat: no-repeat;
        background-size: cover;    

    }

    /* Position text in the middle of the page/image */
    .bg-text {

        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */       

        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
   
</style>




<body>
    <section class="bg-image"></section>
    <div class="bg-text">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>