@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div class="user-pic">
    <img class="img-responsive img-rounded" src="~/img/stationery.jpg" alt="User picture">
</div>*@
