@model ADTeam5.Models.Supplier

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

    <h4>Supplier</h4>
    <hr />*@

<!-- Main content -->
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <div align="center" vertical-align="middle">
                <div style="width: 300px;padding: 20px;margin: 20px;border-style:outset; border-width:1px; ">
                    <div align="center" vertical-align="middle">
                        <h3 class="box-title">
                            <strong><font size="5">Supplier Create Profile</font></strong>
                        </h3>
                    </div>
                    <div class="box-tools">
                    </div>
                </div>
            </div>
        </div>
       
            <!-- /.box-header -->
        <div class="box-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SupplierCode" class="control-label"></label>
                            <input asp-for="SupplierCode" class="form-control" />
                            <span asp-validation-for="SupplierCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SupplierName" class="control-label"></label>
                            <input asp-for="SupplierName" class="form-control" />
                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TitleOfCourtesy" class="control-label"></label>
                            <input asp-for="TitleOfCourtesy" class="form-control" />
                            <span asp-validation-for="TitleOfCourtesy" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ContactName" class="control-label"></label>
                            <input asp-for="ContactName" class="form-control" />
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GstregistrationNo" class="control-label"></label>
                            <input asp-for="GstregistrationNo" class="form-control" />
                            <span asp-validation-for="GstregistrationNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNo" class="control-label"></label>
                            <input asp-for="PhoneNo" class="form-control" />
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FaxNo" class="control-label"></label>
                            <input asp-for="FaxNo" class="form-control" />
                            <span asp-validation-for="FaxNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PostalCode" class="control-label"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <a asp-action="Index"><button class="btn btn-primary" style="width:100px;height:32px;border:2px; background-color:#EEEEEE"><font size="3" color="black">Back</font></button></a>
                    <input type="submit" value="Create" class="btn btn-primary" style="width:100px;height:32px;border:2px; background-color:#3c8dbc" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
