@model ADTeam5.Models.Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label"></label>
                <input asp-for="DepartmentCode" class="form-control" />
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionPointId" class="control-label"></label>
                <select asp-for="CollectionPointId" class ="form-control" asp-items="ViewBag.CollectionPointId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HeadId" class="control-label"></label>
                <input asp-for="HeadId" class="form-control" />
                <span asp-validation-for="HeadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepId" class="control-label"></label>
                <input asp-for="RepId" class="form-control" />
                <span asp-validation-for="RepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoveringHeadId" class="control-label"></label>
                <input asp-for="CoveringHeadId" class="form-control" />
                <span asp-validation-for="CoveringHeadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionPassword" class="control-label"></label>
                <input asp-for="CollectionPassword" class="form-control" />
                <span asp-validation-for="CollectionPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
