@model ADTeam5.Models.User

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="post">
    <h1>Assign Department Representative</h1>

    <p>Current Representative: </p>

    @*@if (ViewBag.IsValid)
        {
            <div><label class="control-label">Selected Representative is Current Representative. Please Select Again!</label>(</div>
        }*@
    <div class="form-group">
        <p>
            New Representative:
            @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.listofitems, "UserId", "Name"), "Select")
        </p>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" />
    </div>
</form>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function selectedItem(ddlItem) {
            var selvalue = ddlItem.selectedItem;
            var seltext = ddlItem.options[ddlItem.selectedIndex].innerHTML;
            $('#txt').val(seltext);
        }
    </script>*@
@*new { @onChange = "selectedItem(this)" }*@
@*<label asp-for="Name"></label>*@
@*@Html.DropDownListFor(model => model.UserId, new SelectList(Model.Name, "UserId", "Name", Model.UserId))*@