@model ADTeam5.Models.User

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Alert1"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["Alert1"]
    </div>
}

@if (TempData["Alert2"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times</span>
        </button>
        @TempData["Alert2"]
    </div>
}

<form asp-action="Index" method="post">
    @*<h1>Assign Department Representative</h1>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Assign Department Representative</h3>
                </div>

                <br />
                <h4 style="margin-left:300px">&nbsp;Current Representative:&nbsp; @ViewData["CurrentRepName"]</h4>
                <br />
                <div class="form-group" style="margin-left:300px">
                    <h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Representative:&nbsp;&nbsp;
                        @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.listofitems, "UserId", "Name"), "--- Select ---")
                    </h4>
                </div>
                <br />
                <br />
                <div class="form-group" >
                    <input type="submit" value="Save Changes" class="btn btn-primary submit" style="background-color: #00B894;width:170px;height:32px;border:2px;margin-left:380px" />
                </div>
                <br />
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</form>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function selectedItem(ddlItem) {
            var selvalue = ddlItem.selectedItem;
            var seltext = ddlItem.options[ddlItem.selectedIndex].innerHTML;
            $('#txt').val(seltext);
        }
    </script>*@
@*new { @onChange = "selectedItem(this)" }*@
@*<label asp-for="Name"></label>*@
@*@Html.DropDownListFor(model => model.UserId, new SelectList(Model.Name, "UserId", "Name", Model.UserId))*@